__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
.DS_Store
.env
venv/
env/
Trilobeenv/
media/
staticfiles/
*.log
ngrok.log
TestFrontEnd/

# User added ignores
room_types/
check_output.txt
.vscode/
.idea/
*.sqlite3
*.bak
*.postman_environment.json
