Django==4.2.16
djangorestframework
djangorestframework-simplejwt
Pillow
django-filter
django-cors-headers
gunicorn
whitenoise
dj-database-url
psycopg2-binary
cloudinary
django-cloudinary-storage
python-dotenv